*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
.header{
    color: gold;
    background-color: blue;
    text-align: center;
}
.menu li{
    color: red;
    background-color: green;
    margin-bottom: 7px;
    margin-top: 7px;
    padding: 8px;
}
.menu li:hover{
    background-color: royalblue;
}
.aside{
    padding: 15px;
    color: hotpink;
    font-size: 15px;
    text-align: center;
    background-color: lawngreen;
}
.footer{
    padding: 15px;
    color: pink;
    font-size: 15px;
    text-align: center;
    background-color: black;
}
.roll ::after{
    content: "";
    display: block;
    clear: both;
}
[class*="-"]{
    float: left;
    padding: 10px;
}

 .col_1{
    width: 8.33%;
}
.col_2{
    width: 16.66%;
}
.col_3{
    width: 25%;
}
.col_4{
    width: 33.33%;
}
.col_5{
    width: 41.66%;
}
.col_6{
    width:50%;
}
.col_7{
    width: 58.33%;
}
.col_8{
    width: 58.33%;
}
.col_9{
    width: 75%;
}
.col_10{
    width: 83.33%;
}
.col_11{
    width: 91.66%;
}
.col_12{
    width: 100%;
}

 /* for mobile phone  */
 @media screen and (max-width: 820px){
    [class="_"]{
        width: 100%;
    }
}
